:host {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;

  .theme-switcher {
    display: flex;
    align-items: center;

    .pi {
      margin: 0 10px 3px 0;
    }
  }
}

.wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;

  .form {
    width: 300px;
  }
}
