<div class="header">
  <div class="theme-switcher">
    @if (formControl.value) {
    <i class="pi pi-moon"></i>
    } @else {
    <i class="pi pi-sun"></i>
    }
    <p-inputSwitch [formControl]="formControl" />
  </div>

  <span>is login: {{ isLogin() }}</span>
</div>

<div class="wrap">
  <div class="form">
    <h3>User registry</h3>
    <app-registration-form />
  </div>

  <div class="form">
    <h3>User auth</h3>
    <app-auth-form />
  </div>
</div>

<div class="wrap">
  <div class="form">
    <h3>Create role</h3>
    <app-create-role-form />
  </div>

  <div class="form">
    <h3>Create company</h3>
    <app-create-company-form />
  </div>
</div>

<div class="wrap">
  <div class="form">
    <h3>Create project</h3>
    <app-create-project-form />
  </div>

  <div class="form">
    <h3>Create ...</h3>
  </div>
</div>

<h3>My profile</h3>
<pre>{{ profile$ | async | json }}</pre>

<h3>My companies</h3>
<pre>{{ myCompanies$ | async | json }}</pre>

<h3>My projects</h3>
<pre>{{ myProjects$ | async | json }}</pre>
